body{
    background-color:#181818;
    width: auto;
    height: auto;
}   
    
.buscar input{
    border: 1px solid;
    margin-top: 8gitpx;
    border-radius: 8px; 
    background-color: whitesmoke;
    height: 30px;
    width: 1000px;
    padding: 10px;
    justify-content: right;
    align-items: right;
    display: flex;
}

.buscar button{
    background-color: #41ab9a;
    margin-top: -50px;
    border-radius: 8px;
    margin-left: 75%;
    width: 100px;
    height: 45px;
    display: flex;
}

  